@{
    ViewData["Title"] = "Details";
}

<h1>Beer Info:</h1>
<ul>
    <li>ID: @Model.BeerId</li>
      <li>Name: @Model.Name</li>
      <li>Brewery: @Model.Brewery</li>
      <li>Style: @Model.Style</li>
      <li>ABV: @Model.Abv</li>
</ul>
<br>

<a href="/Beers/Edit/@(Model.BeerId)"><p>Edit</p></a>
<br>

<a href="/Beers"><p>Return</p></a>

<a href="/Beers/Delete/@(Model.BeerId)"><p>DELETE BEER</p></a>