@{
    ViewData["Title"] = "Home Page";
}

<h1>New Beer:</h1>

<form action="/beers" method="post">
    <label for="name">Beer Name</label>
    <input id="name" name="name" type="text"><br>
    <label for="brewery">Brewery Name</label>
    <input id="brewery" name="brewery" type="text"><br>
    <label for="style">Beer Style</label>
    <input id="style" name="style" type="text"><br>
    <label for="abv">Beer ABV</label>
    <input id="abv" name="abv" type="double"><br>
    <button type="submit">Add</button>
</form>
<br>
<h3>@Html.ActionLink("Random Beer", "Random", "Beers")</h3>
<br>

<h1>All Beers:</h1>

<ol>
@foreach (Beer beer in Model)
{
    <ul>
        <li>ID: @beer.BeerId</li>
        <li>Name: @beer.Name</li>
        <li>Brewery: @beer.Brewery</li>
        <li>Style: @beer.Style</li>
        <li>ABV: @beer.Abv</li>
    </ul>
    <a href="/Beers/Details/@(beer.BeerId)"><p>View Details</p></a>
    <br>
}
</ol>